.attachments-image-container {
    display: flex;
}

.attachment-item {
    margin-right: 40px;
}

.attachment-item > a {
    text-decoration: none;
}

.attachment-item > a > img {
    width: 100px;
    height: 100px;
}

.attachment-item > button {
    margin-top: -10px;
}