.create-project {

    margin: 200px auto;
    background-color: #f2f2f2;
    width: 70%;
    /* text-align: center; */
    color: black;
    height: 500px;
    border-radius: 5px;
}


.create-project h2 {
    padding-top: 20px;
    text-align: center;
}

.create-project input,
.create-project select {
    width: 60%;
    height: 25px;

}

.create-project textarea {
    width: 60%;
    height: 80px;
    /* margin: 10px; */
    font-family: 'myFont', Arial, Helvetica, sans-serif; 
    font-size: small;
}

.create-project div {
    padding-left: 400px;
    margin-top: 30px;
}

.create-project button {
    width: 10%;
    height: 25px;
    /* margin-left: 12px; */
}

.move{
    margin-left: 50px;
}

.error {
    text-align: center;
    font-size: 1.1em;
    margin-top: -250px;
    font-weight: bold;
    color: red;
}

.create-project label{
    font-weight: bold;
}

.create-project select{
    margin-bottom: 0px;
}

.background{
    height: 930px;
    padding-top: 1px;
}


.create-cancel-btn {

    display: inline-block;
    width: 61px;
    padding-left: 18px;
    padding-bottom: 4px;
    padding-right: -2px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    margin-left: 63px;
    font-weight: bold;
    font-size: 14px;
}