.create-project {

    margin: 150px auto;
    background-color: black;
    width: 70%;
    text-align: center;
    color: white;
    height: 500px;
}


.create-project h2 {
    padding-top: 20px;
}

.create-project input,
.create-project select {
    width: 50%;
    margin: 10px;
    height: 20px;
    margin: 10px;
}

.create-project textarea {
    width: 50%;
    height: 40px;
    margin: 10px;
}

.create-project div {

    margin-top: 80px;
}

.create-project button {
    width: 10%;
    height: 25px;
}

.error {
    text-align: center;
    font-size: 1.1em;
    margin-top: -100px;
}