.home{
    background-size: cover;
    height: 930px;
    /* background-image: url("https://media.istockphoto.com/id/1368931223/photo/laptop-mock-up-decor-and-copy-space-on-minimal-wooden-working-desk.jpg?b=1&s=170667a&w=0&k=20&c=emkUDLrRQcB9wfRzTZAvAOI_FVzbXY1Yp9LHslLgLL0="); */
    background-color: #f2f2f2;
    padding: 30px;
    height: 870px;
}
.home-container {
    display: flex;
}

.home-card {
    margin-top: 30px;
    margin-left: 50px;
    padding: 70px;
    background-color: white;
    border: 1px solid black;
    width:280px;
    /* flex-wrap: wrap; */
    padding-left: 40px;
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* float: left; */
}

.home-heading{
    padding-left: 50px;
}

.home>h3{
    padding-top: 150px;
} 
.home>h1{
    padding-top: 60px;
    text-align: center;
}

.home-card > a{
    color: inherit;
}