.project-container {
    margin-left: 50px;
    margin-right: 50px;
}

.project-container>thead {
    background-color: grey;
    color: white;
    width: 100%;
}



.project-container>table {
    margin: 20px 0 20px 0;
}

.project-container>th,
td {
    padding: 10px;
}

.project-container>h1,
p,
button {
    margin: 20px -45px 20px 0;
}

.projectdetail-createtask {
    display: flex;
    justify-content: space-between;
}

.projectdetail-createtask>button {
    width: 8%;
    height: 25px;
    background-color: grey;
    color: white;
}

.projectdetail-createtask>button>a {
    text-decoration: none;
    color: white;
}

#task-para {
    border: none;
    min-width: 50%;
    min-height: 150px;
}

.drop-down {
    display: inline-block;

}

#project-heading:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

#task-para:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.text-area {
    margin-top: 10px;
    min-width: 800px;
    min-height: 100px;
    box-shadow: 1px 2px 20px #888888;
    border-radius: 10px;
    padding: 10px;
}

#pop-up {

    display: block;
    visibility: hidden;
    margin-left: 100px;
    width: 200px;
    color: red;
    border: solid 1px black;
    background-color: yellow;
}


a {
    color: blue;
}

.project-description {
    margin-top: 30px;
}

.lead-label {}

.select {
    width: 10%;
    height: 30px;
}