#task-para {
    border: none;
}

.drop-down {
    display: inline-block;

}

#project-heading:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

#task-para:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}