.create-btn {
    float: right;
    width: 10%;
    margin-left: 10px;
}

.project-view {
    width: 95%;
    margin: 0 auto;
}

span {
    margin-right: 10px;
    margin-left: 20px;
}

.project-container {
    width: 95%;
    margin: 0 auto;
}

.comment {
    background-color: red;
}