.create-task-class {
    display: flex;
    flex-direction: column;
    width: 38%;
    margin: auto;
}

.create-task-class > div > button {
    width: 100px;
    height: 25px;
    background-color: grey;
    color: white;
}

.create-task-class > input {
    margin: 10px 0 20px 0;
}

.create-task-class > textarea {
    margin: 10px 0 20px 0;
    font-family: 'myFont', Arial, Helvetica, sans-serif; 
    font-size: small;
}

.create-task-class > select {
    margin: 10px 0 20px 0;
}

.create-task-class > h1{
    text-align: center;
    padding-bottom: 20px;
}

.create-task-class{
    margin-top: 100px;
    background-color: #f2f2f2;
    width: 35%;
    padding: 50px 240px 20px 240px;
}


.cancel-button > a {
    color: white;
    text-decoration: none;
}