.status {
    float: right;
    margin-right: 150px;
    margin-top: 30px;

}

.status select {
    width: 180%;
    height: 30px;
}

.priority {

    float: right;
    margin-right: 150px;
    margin-top: 30px;
}

.priority select {
    width: 180%;
    height: 30px;
    display: inline-block;
}

.task-heading input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-container {
    width: 90%;
    margin: 10px auto;
}

.task-container textarea {
    margin-top: 30px;
}

.developer-choose {
    display: inline-block;
    margin-top: 10px;

}

.developer-choose select {
    width: 180%;
    height: 30px;

}

.task-date {
    display: inline-block;

    margin-top: 20px;
    margin-bottom: 50px;

}